<div class="container-fluid fixed-top">
    <div class="row nav-row">
        <div class="col-2 left-col">
            <img class="brand-logo" routerLink="" src="{{LOGO}}" alt="LOGO">

        </div>
        <div class="col-5 center-col">
            <form class="serach-bar" id="search">
                <input type="text" placeholder="Search.." name="search">
                <i class="fa fa-search" aria-hidden="true"></i>

                <!-- <img src="../../../assets/search.svg" id="input_img"  > -->
        
                
              </form>

        </div>
        

        <div class="col-5 right-col" >
            <ul id="nav">
                <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true">Cart</i> </a></li>
                <li><a href="#"> <i class="fa fa-angle-down" aria-hidden="true">More</i></a></li>

                <button  type="button" class="btn btn-primary"> Login </button>
            
                
                
              </ul>
        </div>

    </div>

</div>